.switch {
  width: 65px;
  background: #444;
  box-shadow: 0 0 15px 2px #666 inset;
  height: 100px;
  margin: 0 auto;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}

.switch .mover {
  position: absolute;
  width: 100%;
  top: 0;
  transition: top 0.2s ease;
}

.switch.on .mover {
  top: -85px;
}

.switch .top-label, .switch .bottom-label {
  color: white;
  height: 85px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
  font-size: 25px;
  font-weight: 400;
}

.switch .lever {
  height: 15px;
  background: #ddd;
  border-radius: 4px;
  border: 2px solid #999;
  box-sizing: border-box;
}

.switch.center {
  position: absolute;
  margin-top: -50px;
  margin-left: -32.5px;
  top: 50%;
  left: 50%;

}
