@import url('https://fonts.googleapis.com/css?family=Comfortaa');

html, body {
  height: 100%;
}

body {
  font-family: 'Comfortaa', sans-serif;
  height: 100%;
  background: linear-gradient(0deg, #41658f, #253a53);
  margin: 0;
  padding: 0;
  user-select: none;
}

.heading {
  text-align: center;
  color: white;
  height: 55px;
  padding-top: 15px;
  box-sizing: border-box;
}

.heading h1 {
  font-weight: 200;
  font-size: 22pt;
  margin: 0;
}

.control {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  height: 400px;
  background: #cccccc;
  border-radius: 10px;
  width: 250px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 1px #aaa;
}

.control h2 {
  text-align: center;
  font-weight: 400;
  margin: 0;
  font-size: 25px;
}

.control .header {
  background: #aaa;
  margin: -15px -15px 0 -15px;
  box-sizing: border-box;
  padding: 25px 10px;
  height: 75px;
  border-radius: 10px 10px 0 0;
}

.control .container {
  position: absolute;
  top: 75px;
  bottom: 0;
  width: 100%;
  left: 0;
}
