.carousel {
  position: absolute;;
  top: 55px;
  bottom: 20px;
  width: 100%;
  margin-bottom: -20px;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  word-wrap: normal;
  white-space: nowrap;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item {
  position: relative;
  height: 100%;
  width: 275px;
  display: inline-block;
  margin-left: 25px;
  margin-right: -30px;
}

.carousel-item:last-child {
  margin-right: -5px;
}
