.slider {
  padding: 10px 15px;
  box-sizing: border-box;
}

.slider .bar {
  width: 100%;
  background: #444;
  height: 5px;
  border-radius: 2px;
}

.slider .lever {
  width: 10px;
  height: 25px;
  background: #fff;
  background: #ddd;
  border-radius: 4px;
  position: relative;
  top: -11px;
  margin-left: -7px;
  border: 2px solid #999;
  cursor: pointer;
}

.slider.hue .bar {
  background: linear-gradient(90deg, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

.slider.luminance .bar {
  background: linear-gradient(90deg, #444, #aaa);
}

.slider.saturation .bar {
  background: linear-gradient(90deg, #444, #3e85b9);
}
